<%- include('../layouts/header.ejs') %>


<style>
    body{
    background:#eee;
}

.card {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  background: orange;
  border: none;
  color: #fff;
  height: 350px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.container {
  height: 5vh;
}

.card h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.card span {
  font-size: 28px;
}

.image {
  position: absolute;
  opacity: .1;
  left: 0;
  top: 0;
}

.image2 {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: .1;
}
</style>

<section class="p-5 mt-2">
    <div class="container-fluid p-5 mt-2">

        <div class="row mb-2">
          <% if(availablecoupons.length > 0) { %>
            <% availablecoupons.forEach((coupon)=> { %>
            <div class="col-6 col-md-3 col-lg-3 mt-2 mb-2">
                <div class="d-flex justify-content-center align-items-center container mb-2" style="width: 250px; height: 250px; margin: 10px;">
                    <div class="d-flex card text-center mt-2">
                        <div class="image mb-2"><img src="https://i.imgur.com/DC94rZe.png" width="90"></div>
                        <div class="image2 mb-2"><img src="https://i.imgur.com/DC94rZe.png" width="90"></div>
                        <h1><%= coupon.discountPercentage %>% OFF</h1><span class="d-block">On Everything</span><span class="d-block">Today</span>
                        <div class="mt-4"><small>With Code :<%= coupon.code %></small></div>
                       
                        <p>valid From :<%= coupon.startingDate.toLocaleDateString() %></p>
                        <p>Valid to :<%= coupon.expirationDate.toLocaleDateString() %></p>
                        
                        <div class="mt-4"><small>On purchase greater than :₹<%= coupon.minTotal %></small></div>
                    </div>
                </div>
            </div>
            <% }); %>
            <% } else { %>
              <div class="card-body text-center">
                <p class="mb-0 text-danger">No coupon available </p>
              </div>
              <a href="/">
                <button type="button" class="btn btn-light btn-ecomm">Continue Shopping</button>
              </a>
          <% } %>
        </div>




      
    </div>
</section>




<%- include('../layouts/footer.ejs') %>